__pycache__/manipulator.cpython-38.pyc
manipulator/__pycache__/manipulator.cpython-38.pyc
.vscode/settings.json
manipulator/manipulator.pyc
manipulator/__pycache__/__init__.cpython-36.pyc
manipulator/__pycache__/manipulator.cpython-36.pyc
